*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;                 /* Hides scrollbar in Chrome, Safari, and Edge */
}